.App {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

body{
  margin:0;
  background-color: #282D35;
  background-image: url(./React-icon-big.png);
  background-repeat: no-repeat;
  background-position-x: 33rem;
  background-position-y: 10rem;
  background-size: 50%;
}

h4{
  font-size: 15px;
  font-weight: 400;
}

h3{
  font-size: 20px;
}

.navbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  background-color: #21222A;
  padding: 31px 26px;
  
}

.logo {
  display: flex;
  flex-flow: row;
  align-items: center;


}

.logo-img{
  width: 31px;
  margin-right: 7px;
}

.logo-heading{
  color: #00D8FF;
}

.subheading{
  color: #DEEBF8;
  
}

.main-content{
  font-family: "Inter";
  color: white;
  margin-left: 27px;
  
}

.list-header{
  margin-top: 60px;
}

.list-items{
  line-height: 40px;
  font-weight: 400;
  

 
}
.list-items li {
  color: #00D8FF;

  
}
.list-items li span {
  color: white;
}